<?xml version="1.0" encoding="GBK"?>
<configuration scan="true">

    <property name="APP_NAME" value="default"/>
    <property name="LOG_PATH" value="/log/logback-demo"/>

    <contextName>${APP_NAME}</contextName>

    <!--控制台输出源-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
